################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JediApp/JediApp.Database/bin/Debug/net6.0
/JediApp/JediApp/bin/Debug/net6.0
/JediApp/.vs/JediApp/FileContentIndex
/JediApp/JediApp/obj/Debug/net6.0
/JediApp/JediApp.Database/obj/Debug/net6.0
/JediApp/JediApp.Services/bin/Debug/net6.0
/JediApp/JediApp.Services/obj/Debug/net6.0
