################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JediApp/AvailableMoneyOnStock.csv
