################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JediApp/JediApp.Database/bin/Debug/net6.0
